.App {
  text-align: center;
  margin-top: 20vh;
}

button{
  padding: 1rem 4rem;
  cursor: pointer;
  font-size: larger;
  background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    color: aliceblue;
    border-radius: 15px;
    border: none;
}

h1{
  font-style: italic;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: beige;
  margin-top: 3rem;
  font-size: large;
}